[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git://libvirt.org/libvirt.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "workbranch"]
	remote = origin
	merge = refs/heads/master
[sendemail]
    from = Guan Qiang <hzguanqiang@gmail.com>
    smtpuser = hzguanqiang@gmail.com
    smtppass = 012004017023
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
